{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="section">
  <h1>Batman</h1>
  <p>by Bisco Hatori</p>
<p>
One day, Haruhi, a scholarship student at exclusive Ouran High School, breaks an $80,000 vase that belongs to the 'Host Club', a mysterious campus group consisting of six super-rich (and gorgeous) guys. To pay back the damages, she is forced to work for the club, and it's there that she discovers just how wealthy the boys are and how different they are from everybody else.
</p>
<p><a href="/comics">Go back to comics</a></p>
</div>
</div>
{% endblock %}
