{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="section">
  <h1>DeathNote</h1>
  <p>by Tsugumi Ohba,  Pookie Rolf (Translator), Takeshi Obata (Illustrator)</p>
<p>
Light Yagami is an ace student with great prospects - and he's bored out of his mind. But all that changes when he finds the Death Note, a notebook dropped by a rogue Shinigami, a death god. Any human whose name is written in the notebook dies, and now Light has vowed to use the power of the Death Note to rid the world of evil.
</p>
<p><a href="/Manga">Go back to Manga</a></p>
</div>
</div>
{% endblock %}
