{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="section">
  <h1>Enders Game</h1>
  <p>by Orson Scott Card</p>
<p>
  Andrew "Ender" Wiggin thinks he is playing computer simulated war games; he is, in fact, engaged in something far more desperate. The result of genetic experimentation, Ender may be the military genius Earth desperately needs in a war against an alien enemy seeking to destroy all human life.
</p>
<p><a href="/SciFi">Go back to SciFi</a></p>
</div>
</div>
{% endblock %}
