{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="section">
  <h1>fruits Basket</h1>
  <p>by Natsuki Takaya,  Alethea Nibley (Translator), Athena Nibley (Translator)</p>
<p>
Tohru Honda was an orphan with no place to go until the mysterious Sohma family offered her a place to call home. Now her ordinary high school life is turned upside down as she's introduced to the Sohma's world of magical curses and family secrets.
</p>
<p><a href="/Manga">Go back to Manga</a></p>
</div>
</div>
{% endblock %}
