{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="section">
  <h1>The Hitchhikers guide to the Galexy</h1>
  <p>by Douglas Adams</p>
<p>
  Seconds before the Earth is demolished to make way for a galactic freeway, Arthur Dent is plucked off the planet by his friend Ford Prefect, a researcher for the revised edition of The Hitchhiker's Guide to the Galaxy who, for the last fifteen years, has been posing as an out-of-work actor.
</p>
<p><a href="/SciFi">Go back to SciFi</a></p>
</div>
</div>
{% endblock %}
