{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="section">
  <h1>SciFi</h1>
  <p>
  Science fiction (abbreviated SF or sci-fi with varying punctuation and capitalization) is a broad genre of fiction that often involves speculations based on current or future science or technology. Science fiction is found in books, art, television, films, games, theatre, and other media. In organizational or marketing contexts, science fiction can be synonymous with the broader definition of speculative fiction, encompassing creative works incorporating imaginative elements not found in contemporary reality; this includes fantasy, horror and related genres.</p>
  <p><a href="/index">Go back to the home page</a></p>
  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Ender's Game</p>
          <figure class="image is-4by3">
            <a href="/Enders">
              <img src="https://images.gr-assets.com/books/1408303130l/375802.jpg">
            </a>
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Hitchhiker's Guide to the Galaxy</p>
          <figure class="image is-4by3">
            <a href="/Hitchhikers">
              <img src="https://images.gr-assets.com/books/1388282444l/386162.jpg">
            </a>
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Dune</p>
          <figure class="image is-4by3">
            <a href="/Dune">
              <img src="https://images.gr-assets.com/books/1434908555l/234225.jpg">
            </a>
          </figure>
        </article>
      </div>
</div>
</div>
</div>
{% endblock %}
